<%- include('./partials/header')%>

<section class="home">
</section>
        <% destinations.forEach(function (d) { %>
          <a href="/<%= d._id %>/show">
            <div class="projcard-container">
            <div class="projcard projcard-blue">
              <div class="projcard-innerbox">
                <img class="projcard-img" src="<%= d.destinationImage %>" />
                <div class="projcard-textbox">
                  <div class="projcard-title"><%= d.name %></div>
                  <div class="projcard-subtitle"><%= `Learn more about ${d.name}`%></div>
                  <div class="projcard-bar"></div>
                  <div class="projcard-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                  <div class="projcard-tagbox">
                    <span class="projcard-tag"><%= d.fruit %></span>
                  </div>
                </div>
              </div>
            </div> 
          </a>
          <% }); %>      
    <% if(user) { %>
      <a href="/new">Add A Country to Make this List More Comprehensive!</a>
    <% } else { %>
      <a href="/auth/google" class="login">Login to Add Countries to this List!</a>
      <% } %>
    <!-- ---- -->
      
    <script>
      document.querySelectorAll(".projcard-description").forEach(function(box) {
        $clamp(box, {clamp: 6});
      });
    </script>

<%- include('./partials/footer')%>
