<%- include('./partials/header')%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% destinations.forEach(function (d) { %>
      <form action="/<%= d._id %>/show" method="GET"> 
        <div onclick="window.location.href=`/<%= d._id %>/show`">
          <%= d.name %>
          <img src="../<%= d.destinationImage %>.jpg" alt="Destination Image">
        </div>
      </form>
      <br></br>
    <% }); %>

<%- include('./partials/footer')%>
