<%- include('./partials/header')%>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% destinations.forEach(function (d) { %>
      <form action="/<%= d._id %>/show" method="GET"> 
        <div onclick="window.location.href=`/<%= d._id %>/show`">
          <%= d.name %>
          <img src="../<%= d.destinationImage %>.jpg" alt="Destination Image">
        </div>
      </form>
      <!-- <%= d.fruit %>
      <img src="../<%= d.fruitImage %>.jpg" alt = "Fruit Image">
      <%= d.seSalary %>
      <%= d.attraction %>
      <img src="../<%= d.attractionImage %>.jpg" alt="Attraction Image"> -->
      <br></br>
    <% }); %>

<%- include('./partials/footer')%>
