<%- include('./partials/header')%>
    <%= destination.name %>
    <img src="../<%= destination.destinationImage %>.jpg">
    <%= destination.fruit %>
    <img src="../<%= destination.fruitImage %>.jpg" alt = "Fruit Image">
    <%= destination.seSalary %>
    <%= destination.attraction %>
    <img src="../<%= destination.attractionImage %>.jpg" alt="Attraction Image">

    <br></br>
    <button>Add to Wishlist</button>

<%- include('./partials/footer')%>