<%- include('./partials/header')%>
    <%= destination.name %>
    <img src="<%= destination.destinationImage %>">
    <%= destination.fruit %>
    <img src="<%= destination.fruitImage %>" alt = "Fruit Image">
    <%= destination.seSalary %>
    <form method="POST" action="/<%= destination._id %>/show?_method=PUT">
        <input name="newSalary" type="number" value="Type Here">
        <input type="submit" value="Update Salary">
    </form>
    <%= destination.attraction %>
    <img src="<%= destination.attractionImage %>" alt="Attraction Image">

    <br></br>
    <form method="POST" action="/wishlist?id=<%= destination._id %>">
        
    <button type="submit">Add to Wishlist</button>
    </form>    
<%- include('./partials/footer')%>